<div class="board">
  <table class="tetris">
    @for (row of board; track $index) {
      <tr>
        @for (cell of row; track $index) {
          <td [ngClass]="'color'+cell"></td>
        }
      </tr>
    }
  </table>

</div>

<div class="preview">
  <table class="tetris">
    @for (row of nextPiece.piece; track $index) {
      <tr>
        @for (cell of row; track $index) {
          <td [ngClass]="'color'+cell"></td>
        }
      </tr>
    }
  </table>
</div>


<div class="commands">
  <!-- CountMove: {{countNoCollision}}<br/>
  Pause: {{pause}}<br/> -->
  <div (click)="startGame()" (keydown.enter)="startGame()" (keydown.space)="startGame()" tabindex="0" role="button" class="div-button">Start</div>
</div>

@if (onScreenMessage$ | async; as message) {
  <div class="screen-cover-messages">
    {{ message }}
  </div>
}