<div class="board">
  <table class="tetris">
    <tr *ngFor="let row of board">
      <td *ngFor="let cell of row"
        [ngClass]="'color'+cell">
      </td>
    </tr>
  </table>

</div>

<div class="preview">
  <table class="tetris">
    <tr *ngFor="let row of nextPiece">
      <td *ngFor="let cell of row"
        [ngClass]="'color'+cell">
      </td>
    </tr>
  </table>
</div>


<div class="commands">
  {{countNoCollision}}
  <div (click)="startGame()">Start</div>
</div>
<div class="gameOver" *ngIf="gameOver">
  Game Over
</div>