<div class="board">
  <table class="tetris">
    <tr *ngFor="let row of board">
      <td *ngFor="let cell of row"
        [ngClass]="'color'+cell">
      </td>
    </tr>
  </table>

</div>

<div class="preview">
  <table class="tetris">
    <tr *ngFor="let row of nextPiece.piece">
      <td *ngFor="let cell of row"
        [ngClass]="'color'+cell">
      </td>
    </tr>
  </table>
</div>


<div class="commands">
  <!-- CountMove: {{countNoCollision}}<br/>
  Pause: {{pause}}<br/> -->
  <div (click)="startGame()" class="div-button">Start</div>
</div>

<div 
  class="screen-cover-messages" 
  *ngIf="onScreenMessage$ | async">
  {{ onScreenMessage$ | async }}
</div>